<div class="body">
    <div class="form">
        <label type="text">
            <input type="text" id="name" placeholder="Enter Your Name">
        </label>
        <label type="text">
            <input type="text" id="acn" placeholder="Enter Your Account No.">
        </label>
        <label type="text">
            <input type="text" placeholder="Account type" list="account">
                <datalist id="account">
                    <option>Saving</option>
                    <option>Current</option>
                </datalist>
        </label>
        <button>View Balance</button>
    </div>
</div>

