<div class="body">
    <div class="form">
        <label type="text">
            <input type="text" placeholder="Account type" list="account">
                <datalist id="account">
                    <option>Saving</option>
                    <option>Current</option>
                </datalist>
        </label>

        <label type="text">
            <input type="text" id="acn" placeholder="Enter Account No">
        </label>

        <label type="text">
            <input type="text" id="amt" placeholder="Enter Amount">
        </label>

        <button>Deposit Amount</button>
    </div>
</div>