<div class="body">
  <h1>Welcome to Bank app</h1>
  <h2>Cusotmer portal</h2>

  <nav>
    <a href="/customer/view-balance">View Balance</a>
    <a href="/customer/fund-transfer">Transfer Funds</a>
    <a href="/customer/view-transactions">View Transactions</a>
    <a href="/customer/deposit">Deposit</a>
    <a href="/customer/withdraw">Withdraw</a>
  </nav>
</div>