<div class="body">
    <div class="form">
        <label type="text">
        <input type="text" id="acn" placeholder="Enter Account No">
        </label>
        <button>Close Account</button>
    </div>
</div>
            